body {
text-align: center;
}

header {
	background-color: #FF5500;
	color: #FFFFFF;
	padding: 30px 20px;
	margin:0;
}

nav {
	color: #FFFFFF;
	padding: 30px 20px 0px 20px;
}

main { 
	padding: 0px 150px ;
}

#game {
	background-color: #40bfff; 
	max-width: 850px;
	margin: 20px auto ;
	padding:30px 10px;
	border-radius: 25px;
}

h1 {
font-family: 'Gugi', cursive;
color:white;
font-weight: 400;
font-size:45px;
margin:0;
}

h2 {
font-family: 'Gugi', cursive;
color: #F15B31;
letter-spacing: 1px;
font-weight: 600;
font-size:18px;
text-transform: uppercase;
display: inline-block;
}

h3 {
font-family: 'Gugi', cursive;
color: white;
letter-spacing: 8px;
font-weight: 600;
font-size:25px;
text-transform: uppercase;
}

p {
font-family: 'Roboto Condensed', sans-serif;
line-height: 35px;
font-size: 18px;
}

a {
border-bottom: 2px solid transparent;
margin: 0px 20px;
color:#40bfff;
text-decoration: none;
}

a:hover {
background-color:#ff00ff;
color: white;
padding: 8px;
border-radius: 15px;
}

img {
	max-width: 160px;
	margin: 50px 15px;
	border-radius: 10px;
}

.zoom {
  transition: transform .4s;
}

.zoom:hover {
  transform: scale(1.08); 
}

footer {
text-transform:uppercase;
padding:0px 20px;
background-color: #FF5500;
color: white;
font-size:14px;
letter-spacing: .08em;
font-weight:500;
font-family: 'Roboto Condensed', sans-serif;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
color: #40bfff;
font-weight: 700;
}




